.register_page{
    background: url('../../../../assets/surprice/bg/bg_1.jpg') center center no-repeat ;
    background-size: cover;
}
.login_page{
    background: url('../../../../assets/surprice/bg/bg_1.jpg') center center no-repeat ;
    background-size: cover;
}